.large-analyzer-section{
    display: flex;
    flex-direction: row;
    .analyzer-section{

        margin: 2em; 
        
        &-title{
          
        }
    
        &-subtitle{
            
        }
    }

    .right-analyzer-section{

    }
}

