@media (max-width: 1500px){
    &-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1em 0;

        &-left-div{
            display: flex;
            flex-direction: row;
            &-logo-div{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-left: 1em;
                &-img{
                    width: 173px;
                }
            }
            &-list-div{

                margin-left: 5em;
                &-ul{
                    display: flex;
                    flex-direction: row;
    
                    &-li{
                        margin: 2em;
                    }
                }
            }
        }
        &-right-div{
            display: flex;
            flex-direction: row;
            margin-left: 25em;

            &-notif{

                &-img{
                    margin-right: 22px;
                }
            }

            &-user{
                &-img{

                &:hover{
                    cursor: pointer;
                    }
                }
            }
        }
    }
}