$darkGreen: #2D5F65;
$purble: #8358F5;
$lightPurble: #EEE8FE;

.house-div{
    background-color: $lightPurble;
    width: 20em;
    border-radius: 0 0 10px 10px;
    border: $purble;
    color: $purble;
    border-width: 2px;
    border-style: solid;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    margin: 2em;

    &-img{
        width: 20em;
        height: 10em;
    }
    .house-div-info-lower{
        display: flex;
        flex-direction: row;
        margin-top: 4em;

        &-commune{
            margin: 0.5em 1em;
        }
        &-address{
            margin: 0.5em 1em;
        }
    }

    &:hover{
        background-color: darken($color: $lightPurble, $amount: 5);
    }
}