$darkGreen: #2D5F65;
$purble: #8358F5;
$lightPurble: #EEE8FE;
$orange: #F5921D;
$gray: #676767;

html {
    scroll-behavior: smooth;
  }

.houseDetailComponent-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


.houseDetailComponent-details{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    background-color: #F7F7F7;
    padding: 5em;
    width: 40em;
    &-left{
        margin-right: 2em;
    }

    &-right{
        margin-left: 2em;
    }
    &-title{
        font-size: 32px;
        color: $gray;
    }
}

.houseDetailComponent-lower{
    display: flex;
    flex-direction: row;
}

.houseDetailComponent-analysis{
    height: 40em;
    display: flex;
    flex-direction: column;
    text-align: center;
    display: none;

    &-upper{

    }
    &-lower{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 80em;
        align-items: center;
        justify-content: center;
        &-inner{
            display: flex;
            flex-direction: column;
            margin: 2em;
            &-title{

            }
        }
    }
}


.houseDetailComponent{

    margin: 2em 10em;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    &-button{
        margin-top: 3em;
        background-color: $orange;
        color: white;
        border: none;
        width: auto;
        width: 7em;
        height: 3em;
        border-radius: 6px;
        box-shadow: none;

        &:hover{
            cursor: pointer;
            background-color: darken($color: $orange, $amount: 5);
        }
    }
    
    &-title{
        color: $gray;
        font-size: 42px;
    }

    &-img{
        width: 40em;
        border: $gray;
        //border-width: 5px;
        //border-style: solid;
        //border-radius: 15px;
        }

    &-pricediv{

        display: flex;
        flex-direction: row;
        margin-bottom: 2em;
        
        &-pesos{
            color: $gray;
            margin-right: 3em;
            

            &:hover{
                cursor: pointer;
                ~ .houseDetailComponent-pricediv-altCurrency{
                    display: flex;
                }
                
            }
        }

        &-altCurrency{
            color: $orange;
            display: none;
            margin-right: 2em;
        }
    }

    &-tag{
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        color: $gray;
    }

    &-list{
        background-color: $darkGreen;
        color: #FFF;
        padding: 1em 2em;
        margin-top: 2em;
        border-radius: 15px;
        &-item{
            list-style: circle;
        }
    }
}